<main>
  <div class="container">
    <app-mensagens></app-mensagens>
    <div class="row row-card">
      <h3 class="title">Olá, crie sua conta no cidade é nossa!</h3>
      <div class="card shadow">
        <div>
          <form class="form-cadastro" (ngSubmit)="submit()" [formGroup]="formCadastro">
            <div class="row">
              <label>Username:</label>
              <input formControlName="nome" type="text" class="form-control" />
            </div>
            <div class="row">
              <label>Login:</label>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="exmaple@gmail.com"
              />
            </div>
            <div class="row">
              <label>Senha:</label>
              <input
                formControlName="senha"
                type="password"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="col-md-6 my-1 content-button">
                <button
                  [disabled]="!formCadastro.valid"
                  class="btn btn-primary"
                  type="submit"
                >
                  Cadastrar
                </button>
              </div>
              <div class="col-md-6 my-1 content-button">
                <button routerLink="/login" class="btn btn-primary">Voltar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
