<div class="container">
  <div class="card shadow">
    <form [formGroup]="form" (ngSubmit)="postar()" class="form_poster">
      <div class="container">
        <div class="row">
          <h2 class="title">Cadastre seu Problema</h2>
          <div class="row">
            <div>
              <label>Título do Problema</label>
              <input
                formControlName="titulo"
                type="text"
                class="form-control"
              />
              <app-campo-control-error *ngIf="form.get('titulo')?.errors?.['required'] && form.get('titulo')?.touched" mensagem="Título Obrigatório" ></app-campo-control-error>
            </div>
          </div>
          <div class="row">
            <div>
              <label>Relate o Problema</label>
              <textarea
                formControlName="descricao"
                type="text"
                class="form-control"
              ></textarea>
              <app-campo-control-error *ngIf="form.get('descricao')?.errors?.['required'] && form.get('descricao')?.touched" mensagem="A descrição é Obrigatória" ></app-campo-control-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input
                formControlName="hashtags"
                type="text"
                class="form-control"
                placeholder="hashtags"
                maxlength="40"
              />
              <app-campo-control-error *ngIf="form.get('hashtags')?.errors?.['required'] && form.get('hashtags')?.touched" mensagem="A Hashtag é Obrigatória" ></app-campo-control-error>
            </div>
            <div class="col-md-6">
              <input
                type="file"
                class="form-control"
                (change)="inputFileChange($event)"
              />
            </div>
          </div>
          <div class="content-button">
            <button type="submit" [disabled]="!form.valid" class="btn btn-success">Postar</button>
            <button routerLink="/"  class="btn btn-primary">Voltar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


