.card-header{
  text-align: center;
}
.card__posters .card-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}
.card__posters .card-body__descricao{
  min-height: 150px;
}
.card__posters .card-footer .card{
  margin-bottom: 10px;
}

.card-footer form{
  padding: 0;
}

.card-posters__aberto, .card-posters__fechado{
  background-color: rgb(241, 110, 110);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
}

.card-posters__aberto .card-posters__fechado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-posters__aberto p, .card-posters__fechado p, .card__posters p{
  margin: 0px 5px;
}

.card-posters__fechado{
  background-color: greenyellow;
}

.card__lateral{
  padding: 5%;
}
.card__problemas-total, .card__problemas-resolvidos, .card__problemas-abertos{
  text-align: center;
}

.card__problemas-abertos .card-body{
  color: red;
}

.card__problemas-resolvidos .card-body{
  color: greenyellow;
}

.hashtags{
  color: rgb(50 144 255);
}
i{
  font-size: 20px;
}
.row-statistics{
  padding: 5%;
  border-bottom: 1px solid rgb(181, 179, 179);
}
.content{
  display: flex;
  justify-content: flex-end;
}
.content-button_reclamacoes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__posters{
  margin-bottom: 20px;
}

.card__posters .card-header{
  text-transform: uppercase;
}

.card__posters .card-header, .card-footer__hashtags, .btn-publicar{
  color:rgb(31, 105, 193);
}
.card-footer__content-col{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px){
  .row-statistics .card{
    margin: 10px auto;
  }
}
