<div class="container my-3">
  <div class="row">
    <h4 style="text-align: center">Percentual de Problemas resolvidos</h4>
  </div>
  <div class="row my-4">
    <app-progress-bar
      [totalProblemasCriados]="totalPostersCriados"
      [totalProblemasResolvidos]="totalPostersResolvidos"
    ></app-progress-bar>
  </div>
  <div class="row row-statistics">
    <div class="col-md-3">
      <div class="card shadow card__problemas-total">
        <div class="card-header">
          Problemas Relatados <i class="fas fa-light fa-bullhorn"></i>
        </div>
        <div class="card-body">
          <h1>{{ totalPostersCriados }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow card__problemas-abertos">
        <div class="card-header">
          Problemas Em Aberto <i class="fas fa-light fa-bug"></i>
        </div>
        <div class="card-body">
          <h1>{{ totalPostersCriados - totalPostersResolvidos }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow card__problemas-resolvidos">
        <div class="card-header">
          Problemas Resolvidos <i class="fas fa-light fa-check"></i>
        </div>
        <div class="card-body">
          <h1>{{ totalPostersResolvidos }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3 content-button_reclamacoes">
      <button routerLink="/relatar" class="btn btn-danger">
        <i class="fas fa-light fa-bullhorn"></i> Relatar Problema
      </button>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow card__lateral">
          <h6>Infos</h6>
        </div>
      </div>
      <div class="col-md-6">
        <h4 style="text-align: center">Todas as Reclamações</h4>
        <app-search (emmitSearch)="searchProblemas($event)"></app-search>
        <div
          class="card  card__posters text-bg-light"
          *ngFor="let poster of listPosters; let i = index"
        >
          <div class="card-header">
            <div *ngIf="poster.isAberto" class="card-posters__aberto">
              <p>Aberto</p>
              <i class="fas fa-light fa-bug"></i>
            </div>
            <div *ngIf="!poster.isAberto" class="card-posters__fechado">
              <p>Resolvida <i class="fas fa-light fa-check"></i></p>
            </div>
            <div>
              <p>{{ poster.titulo }}</p>
            </div>
            <div>
              <p>{{ poster.dataCriacao | dataTransformPipe }}</p>
            </div>
          </div>
          <div class="card-body card-body__descricao d-flex">
            <p>{{ poster.descricao }}</p>
            <p class="hashtags">{{poster.hashtags | hashtags}}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-4 card-footer__content-col">
                <button
                  (click)="habilitarComentar(poster, i)"
                  style="border-radius: 10px"
                  class="btn"
                >
                  <i style="font-size: 20px" class="fas fa-light fa-comment"></i>
                </button>
              </div>
              <div class="col-md-4 card-footer__content-col">
                <!-- <p style="margin: 0" class="card-footer__hashtags">
                  {{ poster.hashtags | hashtags }}
                </p> -->
              </div>
              <div class="col-md-4 card-footer__content-col">
                <i
                  (click)="like(poster)"
                  style="cursor: pointer"
                  class="fas fa-solid fa-thumbs-up"
                ></i>
                {{ poster.likes }}
              </div>
            </div>
            <div *ngIf="poster.isComment" class="row">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <form
                      [formGroup]="formComentario"
                      (ngSubmit)="comentar(poster, i)"
                      class="d-flex"
                    >
                      <div class="col-md-10">
                        <input
                          formControlName="comentario"
                          type="text"
                          class="form-control"
                          placeholder="adicione um comentário......"
                        />
                      </div>
                      <div class="col-md-2">
                        <button
                          type="submit"
                          [disabled]="!formComentario.valid"
                          class="btn btn-publicar"
                        >
                          Publicar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <app-comentarios [comentarios]="poster.comentarios"></app-comentarios>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-filtros-laterais></app-filtros-laterais>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
