<nav class="navbar  bg-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand">Cidade Nossa</a>
      <div class="content__termos" style="display: flex">
        <p>Termos de uso</p>
        <p>Política de privacidade</p>
      </div>
      <div class="content__redes-sociais">
        <ul class="list__redes-sociais">
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-youtube"></i></li>
          <li><i class="fab fa-linkedin"></i></li>
        </ul>
      </div>
      <a href="#">Dúvidas sobre o Cidade é Nossa.</a>
    </div>
  </div>

</nav>
