<main>
  <div class="container my-4">
    <app-mensagens></app-mensagens>
    <div class="row content-title"><h2>É excelente ter você aqui! :)</h2></div>
    <div class="row content-subtitle"><p>Insira seu login e senha para acessar a sua conta.</p></div>
    <div class="row row-card">
      <div class="card shadow">
        <form [formGroup]="formLogin" (ngSubmit)="submit()" >
          <div>
            <button class="btn btn-primary"><i class="fas fab fa-facebook-f"></i> Fazer Login com o Facebook</button>
          </div>
          <div class="divider"><span>Ou</span></div>
          <div class="row content-form">
            <label for="">Login</label>
            <input type="text" formControlName="login" placeholder="Insira seu e-mail...." class="form-control">
          </div>
          <div class="row content-form">
            <label for="">Senha</label>
            <input type="password" formControlName="senha" placeholder="Insira sua senha" class="form-control">
            <a routerLink="/login/cadastro" routerLinkActive="router-link-active"   class="esqueci-senha">Esqueci minha senha</a>
          </div>
          <div>
            <button type="submit" [disabled]="!formLogin.valid" class="btn btn-primary">
              Entrar
              <span *ngIf="isVerifyLogin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row row-cadastrar">
      <div class="content-cadatrar">
        <h5>Não possui uma conta?</h5>
        <button (click)="teste()" class="btn content-cadastrar___btn">Cadastre-se aqui</button>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

